@charset "UTF-8";
.btn {
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.btn_header {
  background: white;
  margin: 3rem;
  border-bottom: solid 3px transparent;
  transition: all 0.3s ease-in-out;
}
.btn_header-arrow {
  margin-left: 0.5rem;
}
.btn_header:hover {
  border-bottom: solid 3px green;
  transform: translateY(-3px);
  box-shadow: -4px 5px 6px 1px #0000009c;
}
.btn_header:hover .btn_header-arrow {
  margin-left: 15px;
  color: green;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in 0.2s;
}

html {
  font-size: 80%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.marge {
  padding: 0 3rem;
}

body {
  position: relative;
  background: #111827;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

body::-webkit-scrollbar {
  width: 1.2rem;
  background: #d6d6d6;
}
body::-webkit-scrollbar-thumb {
  background: rgba(163, 163, 163, 0.5);
  border-radius: 1rem;
  transition: 0.3s ease all;
}
body::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

@font-face {
  font-family: young;
  src: url(./../font/YoungSerif-Regular.ttf);
}
.section_title {
  text-align: center;
  font-size: 4rem;
  font-family: young;
  background: linear-gradient(to right, white, #111827);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.sticky {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  color: #efefef;
  background: rgba(2, 52, 48, 0.4);
  backdrop-filter: blur(10px);
  margin-top: 0;
}

.center {
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0;
  border: none;
  background: #f3f0f0;
  color: #111827;
  border-radius: 8px;
  border: solid 2px transparent;
  box-shadow: 1px 3px 7px 0px #80808050;
}
.input:focus {
  outline: none;
  border: solid 2px #023430;
}

.btn-prim {
  background: #111827;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #efefef;
  text-transform: capitalize;
  border: none;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.btn-prim::before {
  content: "";
  position: absolute;
  box-shadow: 0 0 5px rgba(17, 24, 39, 0.4);
  bottom: -10%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background: #efefef;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform-origin: bottom right;
}
.btn-prim:hover::before {
  transform: rotate(90deg);
  border-top-right-radius: 0;
  width: 95%;
  right: 0;
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.closeCatForm {
  position: absolute;
  border: 1px solid #d6d6d6;
  color: #d6d6d6;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  top: 2%;
  right: 2%;
  padding: 1.5vw;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.closeCatForm:hover {
  background: rgba(0, 128, 0, 0.5);
  transition: 0.3s ease all;
}

.showBoxPers {
  box-shadow: 14px 13px 0px -4px rgba(0, 230, 0, 0.3) !important;
  opacity: 1 !important;
  color: #efefef !important;
  filter: drop-shadow(0 0 37px #023430) !important;
}

.showBoxTest {
  box-shadow: 40px 47px 0px 0px rgba(26, 255, 26, 0.15), 14px 13px 0px -4px #023430 !important;
  border-bottom: 5px outset #111827;
  border-right: 5px outset #111827;
  opacity: 1 !important;
  color: #efefef !important;
  filter: drop-shadow(0 0 37px #023430) !important;
  background-blend-mode: multiply;
}

.globContent {
  transform: rotateX(19deg) rotateZ(-43deg) rotateY(46deg);
  width: 20vw;
  height: 20vw;
  display: grid;
  background-blend-mode: multiply;
  place-content: center;
  border-radius: 50%;
  position: relative;
  border: 0.4vw dotted #efefef;
  z-index: 10;
  z-index: 4;
  backdrop-filter: blur(10px);
}

.globContent_child {
  position: absolute;
  width: 50%;
  height: 1vw;
  transform-origin: top left;
  left: 50%;
  top: 50%;
  z-index: 3;
  animation: global 15s infinite linear;
}

.globContent_child::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translateY(-100%) rotate(45deg);
  background: linear-gradient(to right, #00e600, green);
  height: 1vw;
  width: 1vw;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  padding: 1vw;
  animation: global 2s linear infinite;
}

.swiper-container {
  width: 37rem;
  height: 280px;
  padding: 1vw;
  overflow: hidden;
}

.show {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(9, 1fr);
  width: 95%;
  margin: 0 auto;
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show_line {
  height: 90vh;
  background: #efefef;
  background-repeat: no-repeat;
}

.show_disable {
  visibility: hidden;
}

.disable_iscription {
  opacity: 0;
  visibility: hidden;
}

.disableLine {
  opacity: 0;
  visibility: hidden;
}

.show_anim {
  animation: un 0.3s ease-in-out backwards;
}

@keyframes un {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.show_line:nth-child(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.show_line:nth-child(2) {
  animation-delay: 0.1s;
}

.show_line:nth-child(3) {
  animation-delay: 0.2s;
}

.show_line:nth-child(4) {
  animation-delay: 0.3s;
}

.show_line:nth-child(5) {
  animation-delay: 0.4s;
}

.show_line:nth-child(6) {
  animation-delay: 0.5s;
}

.show_line:nth-child(7) {
  animation-delay: 0.6s;
}

.show_line:nth-child(8) {
  animation-delay: 0.7s;
}

.show_line:nth-child(9) {
  animation-delay: 0.8s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.steps_child {
  position: absolute;
  top: 8rem;
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.steps_first {
  left: 4rem;
}
.steps_number {
  background: #023430;
  color: #efefef;
  padding: 0.2rem 1rem;
  border-radius: 50%;
  display: inline;
}
.steps_cont {
  margin: 1rem 0;
}

.content_social {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  z-index: 50;
}

.content_social .nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(363deg);
}

.nav-content .toggle-btn,
.nav-content span a {
  height: 45px;
  width: 45px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-content .toggle-btn {
  font-size: 1.2rem;
  color: #0e2431;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-183deg);
  transition: all 0.6s ease;
}

.content_social.open .toggle-btn {
  transform: rotate(42deg);
}

.nav-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

.content_social.open .nav-content span {
  transform: rotate(calc(var(--i) * 45deg)) translateY(90px);
  opacity: 1;
}

.nav-content span a {
  text-decoration: none;
  transform: rotate(45deg);
  color: green;
}

.nav-content span a svg {
  font-size: 1.5vw;
  color: #0e2431;
  opacity: 0.8;
  transition: 0.2s;
}

.nav-content span a:hover svg {
  opacity: 1;
  color: green;
}

#facebook {
  transform: rotate(267deg) !important;
}

.lind {
  transform: rotate(-135deg) !important;
}

.github {
  transform: rotate(-185deg) !important;
}

.header_index {
  background: url("./../images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header_content {
  padding: 6rem 2rem;
  display: flex;
}
.header_content-descri {
  flex-basis: 70%;
}
.header_content-assure {
  margin-left: 5rem;
}
.header_content-content {
  position: relative;
}
.header_content-titre {
  font-size: 7vw;
  background: linear-gradient(to right, green, #00e600);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  font-family: young;
}
.header_content-text {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.header_content-para {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-top: 3rem;
}
.header_content-formation {
  font-size: 7vw;
  padding: 1vw;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #00e600, green);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
.header_content-fig {
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
}
.header_content-fig figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header_content-fig figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.start {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-left {
  display: flex;
  align-items: center;
}
.start_bar {
  height: 1rem;
  width: 0.1rem;
  background: green;
  margin: 0 0.5rem;
}
.start_text {
  color: #111827;
  font-weight: 500;
  font-weight: bold;
}
.start_i {
  color: green;
  margin: 0 0.3rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  background: #68a32e75;
  color: #efefef;
}
.start_i:hover {
  background: green;
  color: #efefef;
}

.nav {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  z-index: 3;
}
.nav_conexion {
  background: #023430;
  cursor: pointer;
}
.nav_logo-text {
  color: green;
}
.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0.6rem);
}
.nav_item {
  margin: 0 0.9rem;
}
.nav_link {
  color: #111827;
  font-weight: bold;
  font-size: 1.2rem;
}
.nav_link:hover {
  color: green;
}
.nav .navDeconnexion {
  display: flex;
  gap: 10px;
}

.section_chat {
  height: 400px;
  width: 350px;
  background: coral;
  position: absolute;
  right: 15rem;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}
.section_chat .discussion {
  height: 100%;
  width: 100%;
}
.section_chat .discussion .header_discussion {
  height: 65px;
  width: 100%;
  border: 2px solid white;
  display: flex;
}
.section_chat .discussion .header_discussion .name_image {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: left;
  align-items: center;
}
.section_chat .discussion .header_discussion .name_image .user_discussion {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 0 0 10px;
}
.section_chat .discussion .header_discussion .name_image p {
  margin: 10px 0 0 10px;
  font-size: 20px;
}
.section_chat .discussion .messaging {
  height: 270px;
  width: 100%;
  border: 2px solid blueviolet;
}
.section_chat .discussion .foot_discussion {
  height: 65px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_chat .discussion .foot_discussion .messages {
  width: 70%;
}
.section_chat .discussion .foot_discussion .messages .text_messaging {
  border: none;
  margin: 2px 0 0 10px;
  outline: none;
  background: #ffff;
  border-radius: 8px;
  width: 90%;
  font-size: 16px;
  padding: 2px;
  line-height: 16px;
}
.section_chat .discussion .foot_discussion .sent {
  display: flex;
  gap: 15px;
  width: 25%;
}
.section_chat .discussion .foot_discussion .sent .contenu-photoMessage {
  position: relative;
  width: 40px;
}
.section_chat .discussion .foot_discussion .sent .contenu-photoMessage .btn-photoMessage {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 10;
}
.section_chat .discussion .foot_discussion .sent .contenu-photoMessage .btn-photo {
  position: absolute;
  z-index: 9;
  font-size: 2rem;
  top: 0;
  left: 20px;
}
.section_chat .discussion .foot_discussion .sent .btn-send {
  font-size: 2rem;
}

.extrait {
  position: relative;
  height: 600px;
}
.extrait .container-extrait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 400px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #111827;
  border-radius: 2rem !important;
}
.extrait .container-extrait .slide-extrait .item-extrait {
  width: 150px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  object-fit: cover;
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(2) {
  left: 70%;
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(3) {
  left: calc(70% + 220px);
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(4) {
  left: calc(70% + 440px);
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(n+5) {
  left: calc(70% + 660px);
  opacity: 0;
}
.extrait .container-extrait .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  display: none;
  color: red;
}
.extrait .container-extrait .slide-extrait .item-extrait:nth-child(1) .content {
  display: block;
}
.extrait .container-extrait .content .name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  animation: animate 1s ease 0.3s 1 forwards;
}
.extrait .container-extrait .content .des {
  margin: 10px 0;
  opacity: 0;
  animation: animate 1s ease 0.6s 1 forwards;
}
.extrait .container-extrait .content button {
  padding: 10px 20px;
  border: none;
  background-color: #111827;
  color: #efefef;
  border-radius: 20px;
  opacity: 0;
  animation: animate 1s ease 1 forwards;
}
.extrait .container-extrait .btn-extrait {
  width: 100%;
  text-align: center;
  position: absolute;
  right: 50px;
  bottom: 20px;
}
.extrait .container-extrait .btn-extrait button {
  background: #111827;
  color: #efefef;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.extrait .container-extrait .btn-extrait button:hover {
  background-color: #efefef;
  color: #111827;
}
@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(30px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.conexion {
  position: fixed;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  background: #efefef;
  display: flex;
  width: 95%;
  z-index: 50;
  border-radius: 15px;
  overflow: hidden;
  animation: ease-in-out showConex 0.3s backwards;
  animation-delay: 1.1s;
}
.conexion_title {
  text-align: center;
}
.conexion_subtitle {
  font-size: 1.2rem;
  text-align: center;
}
.conexion_close {
  background: green;
  color: #efefef;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 20px;
}
.conexion_content {
  position: relative;
  padding: 2rem;
  flex-basis: 40%;
}
.conexion_form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.conexion_desc {
  flex: 1;
  background-image: url("./../images/form.jpg");
  background-size: cover;
  background-position: center;
}
.conexion_social {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.conexion_link {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: solid 1px gray;
  margin: 0.2rem;
  color: #111827;
  animation: all 0.5s ease-in-out;
}
.conexion_link:hover {
  background: #023430;
  color: #efefef;
}
.conexion_test {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.conexion_frm {
  width: 60%;
  margin: 2rem auto;
}
.conexion_frm-submit {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  background: #023430;
  color: #efefef;
}
.conexion_frm .btn-inscription {
  background: #023430;
  color: #efefef;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
}
.conexion_inscript {
  color: blue;
  cursor: pointer;
}

.disable_conexion {
  display: none;
}

@keyframes showConex {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.inscription {
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  overflow: hidden;
}
.inscription_cont-btn {
  margin-top: 1rem;
}
.inscription_sub {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.inscription_frm {
  width: 70%;
  margin: 0 auto;
}
.inscription_frm-btn {
  background: #023430;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  color: #efefef;
  margin-top: 0.5rem;
}
.inscription_frm .btn-inscription {
  background: #023430;
  color: #efefef;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
}
.inscription_frm #filiere {
  display: none;
}

.about--content {
  display: flex;
  margin: 5vw 0 0 0;
  background: url(./../images/bg3.2.png) center/cover no-repeat;
  color: #111827;
  padding: 4vw 1vw;
  position: relative;
  border-top-right-radius: 15vw;
  border-bottom-right-radius: 15vw;
}

.about--animeBlock, .about--descri {
  flex: 1;
  z-index: 2;
  font-size: 1.2vw;
}

.about--descri {
  padding: 7vw 2vw;
  color: #111827;
  font-family: cursive;
}

.about--animeContent {
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 40vw;
  width: 100%;
  position: sticky;
  top: 0;
}
.about--animeContent a {
  color: #111827;
}

.about--block {
  background: #efefef;
  border-radius: 1.3vw;
  height: 10vw;
  width: 10vw;
  margin: auto;
  transform: rotateZ(27deg) rotateY(-37deg) rotateX(51deg);
  box-shadow: 40px 41px 0px 0px rgba(115, 119, 122, 0.279), 14px 13px 0px -4px white;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1vw;
}
.about--block h1 {
  font-size: 2.5vw;
}
.about--block:nth-child(1) {
  position: absolute;
  top: 14%;
  left: 40%;
  background: rgba(239, 239, 239, 0.5);
  backdrop-filter: blur(5px);
}
.about--block:nth-child(1) .about--head {
  position: absolute;
  transform: rotateZ(-45deg) translateX(-79%);
  top: 0;
  left: 50%;
  font-weight: 100;
}
.about--block:nth-child(1):hover {
  background: rgba(17, 24, 39, 0.5);
  filter: drop-shadow(0 0 37px #023430);
  color: #efefef;
}
.about--block:nth-child(2) {
  background: rgba(0, 77, 0, 0.2) url(./../images/hopes.jpg) center/contain;
  background-blend-mode: multiply;
  height: 20vw;
  width: 20vw;
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 30%;
  color: #efefef;
  cursor: pointer;
  filter: grayscale(0.9);
  animation: bgRandome 10s alternate ease infinite;
}
.about--block:nth-child(2):hover {
  opacity: 1;
  filter: drop-shadow(0 0 37px #023430);
  color: #efefef;
}
.about--block:nth-child(3) {
  background: black;
  height: 30vw;
  width: 30vw;
  opacity: 0.5;
  position: absolute;
  bottom: 5%;
  left: 20%;
  filter: grayscale(0.9);
  cursor: pointer;
}
.about--block:nth-child(3):hover {
  opacity: 1;
  filter: drop-shadow(0 0 37px #023430);
  color: #efefef;
}
.about--block:nth-child(3) .formation--head {
  color: #efefef;
  text-align: center;
  font-size: 3vw;
}

.formateur-head {
  z-index: 3;
  position: absolute;
}
.formateur-content {
  padding: 2vw;
  height: 100%;
  width: 100%;
  position: relative;
}
.formateur-content figure {
  position: absolute;
  height: 5vw;
  width: 5vw;
}
.formateur-content figure:nth-child(1) {
  bottom: 1%;
  left: 2%;
  height: 4vw;
  width: 4vw;
}
.formateur-content figure:nth-child(2) {
  bottom: 1%;
  right: 2%;
}
.formateur-content figure:nth-child(3) {
  top: 1%;
  right: 2%;
}
.formateur-content figure:nth-child(4) {
  bottom: 10%;
  left: 50%;
}
.formateur-content figure:nth-child(5) {
  top: 40%;
  left: 60%;
  height: 4vw;
  width: 4vw;
}
.formateur-content figure img {
  border: 5px solid #efefef;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.formations-extraits {
  display: flex;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.formations-extraits .displayed {
  font-family: "Times New Roman", Times, serif;
  height: 13vw;
  width: 13vw;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease all;
  transform: rotateY(-37deg);
  box-shadow: 13px 1px 0px -3px rgba(0, 128, 0, 0.2), 24px 2px 0px -7px rgba(0, 128, 0, 0.15), 33px 2px 0px -11px rgba(0, 128, 0, 0.07);
  margin: 2vw 0;
}
.formations-extraits .displayed img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.formations-extraits_head-title {
  position: absolute;
  top: -20%;
  left: 0;
  border-radius: 0.5rem;
  text-align: center;
  backdrop-filter: blur(10px);
}
.formations-extraits_head-prog {
  background: rgba(2, 52, 48, 0.7);
  text-align: end;
  color: #efefef;
  font-size: 3vw;
  position: absolute;
  z-index: 3;
  padding: 2vw 5vw;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: none;
}

.loading--formation {
  background: #efefef;
  position: fixed;
  z-index: 70 !important;
  padding: 1vw;
  height: 95%;
  top: 15%;
  left: 50%;
  height: 81%;
  transform: translateX(-50%);
  border-radius: 2rem;
  color: #111827;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 7px rgba(17, 24, 39, 0.2);
}
.loading--formation h1 {
  font-style: italic;
  font-family: cursive;
  text-decoration: underline;
  animation-delay: 0.1s;
}

.visible--catFormation {
  visibility: visible;
  opacity: 1;
  animation: loadingFormat alternate 1.5s ease-in-out backwards;
  overflow: hidden;
}

.loading--formation-items {
  color: #efefef;
  padding: 2vw 1vw;
  max-height: 41vw;
  overflow-y: auto;
}
.loading--formation-items .programme--item {
  display: flex;
  position: relative;
  perspective: 1000px;
  margin: 0.5vw 0;
}
.loading--formation-items .programme--item div {
  flex: 1;
  padding: 1vw;
  border-radius: 1rem;
}
.loading--formation-items .programme--item .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12vw;
  height: 12vw;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.5vw;
  font-family: fantasy;
  background-blend-mode: multiply;
  border: 15px solid rgba(0, 128, 0, 0.5);
  text-align: center;
}
.loading--formation-items .programme--item .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  border-radius: 50%;
}
.loading--formation-items .programme--item .logo span {
  z-index: 5;
}
.loading--formation-items .programme--item-descri {
  padding: 2vw;
  background: #d6d6d6;
  backdrop-filter: blur(5px);
  color: #023430;
}
.loading--formation-items .programme--item-descri ul {
  padding: 0 1vw;
}
.loading--formation-items .programme--item-descri ul li {
  list-style: circle;
  text-transform: uppercase;
}
.loading--formation-items .programme--item-prog {
  padding: 1vw;
  background: green;
  display: flex;
  justify-content: end;
}
.loading--formation-items .programme--item-prog table {
  width: 50%;
  margin: auto;
}
.loading--formation-items .programme--item-prog table tr {
  width: 100%;
  text-align: center;
}
.loading--formation-items .programme--item-prog table tr td {
  padding: 1vw;
}

.loading--formation-items::-webkit-scrollbar {
  background: #d6d6d6;
  width: 0.6rem;
}

.loading--formation-items::-webkit-scrollbar-thumb {
  background: rgba(239, 239, 239, 0.5);
  border-radius: 1rem;
}
.loading--formation-items::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.formateur--items {
  padding: 0vw 4vw;
  background: yellow;
  overflow: hidden;
}

.swiper-slide {
  width: 35rem !important;
}

.formateur--slide {
  height: 2vw;
  margin: 1vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formateur--slide-link {
  cursor: pointer;
  height: 1vw;
  width: 2vw;
  border-radius: 1rem;
  background: #efefef;
}
.formateur--slide-link:nth-child(2) {
  width: 1vw;
}
.formateur--slide-link:hover {
  width: 2vw;
  background: #00e600;
}

.formateur--item {
  background: rgba(0, 128, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 0 12px #00000036;
  display: flex;
  flex-direction: row;
  border-radius: 1vw;
  position: relative;
}
.formateur--item h2 {
  margin: 0;
  padding: 0 1rem;
}
.formateur--item .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.formateur--item .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.formateur--item .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.formateur--item .actions button {
  border: none;
  background: none;
  font-size: 24px;
  color: green;
  cursor: pointer;
  transition: 0.5s;
}
.formateur--item .actions button:hover {
  color: #4CAF50;
  transform: rotate(22deg);
}
.formateur--item .img-avatar {
  width: 8vw;
  height: 8vw;
  position: absolute;
  border-radius: 50%;
  border: 8px solid rgba(0, 128, 0, 0.15);
  top: 5%;
  left: 25%;
}
.formateur--item .img-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.formateur--item .img-portada {
  width: 100%;
}
.formateur--item .portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: green url(./../images/form.jpg) center/cover;
  background-blend-mode: multiply;
  background-position: bottom center;
  background-size: cover;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 3.5em;
}

.testimonials {
  margin: 0 0 5vw 0;
  padding: 2vw 10vw;
}
.testimonials-btn {
  background: radial-gradient(122.58% 110% at 51% 51%, green 2%, transparent 58%);
  box-shadow: 0 0 14px green;
  padding: 1.5vw;
  border-radius: 45%;
  height: 4vw;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-btn:hover {
  background: radial-gradient(122.58% 110% at 51% 51%, green 2%, transparent 58%);
  box-shadow: 0 0 14px green;
  transform: scale(1.1);
  transition: 0.3s all ease;
}
.testimonials-btn::after {
  font-size: 2rem;
  font-weight: bold;
  color: #efefef;
}
.testimonials-swiper {
  width: 100%;
  height: 100%;
}
.testimonials-swiper-slide {
  background: #efefef;
  border-radius: 1rem;
}
.testimonials-descri {
  position: relative;
  height: 12vw;
}
.testimonials-descri figure {
  position: absolute;
  height: 5vw;
  width: 5vw;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials-descri figure img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials-author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #111827;
}
.testimonials-author img {
  max-width: 100%;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  margin-bottom: 1vw;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.testimonials-author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
.testimonials-author span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
.testimonials-content {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  padding: 1vw;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
.testimonials-content blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  padding: 4rem;
  background: url(./../images/footer.png) cover/center;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 -2vw;
  line-height: 1.6em;
}
.testimonials-content blockquote::before {
  font-family: "FontAwesome";
  content: "“";
  position: absolute;
  font-size: 30px;
  opacity: 0.3;
  font-style: normal;
  top: 7px;
  left: 3px;
}
.testimonials-content blockquote::after {
  font-family: "FontAwesome";
  position: absolute;
  font-size: 30px;
  opacity: 0.3;
  font-style: normal;
  content: "”";
  right: 20px;
  bottom: 35px;
}

.swiper-pagination-bullet {
  background: green;
  width: 1rem;
  height: 1rem;
}

.event {
  position: relative;
  padding: 2vw;
}
.event--design {
  z-index: 2;
  position: absolute;
  width: 3vw;
  aspect-ratio: 1;
  background: rgba(0, 128, 0, 0.6);
  clip-path: polygon(40% 40%, 50% 0, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0 50%);
  animation: starInfinite 1s alternate infinite ease;
}
.event--design:nth-child(2) {
  top: 10%;
  right: 10%;
  animation-delay: 0.7s;
}
.event--design:nth-child(3) {
  bottom: 0%;
  left: 26%;
  animation-delay: 2s;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 50vw;
  margin: 5vw auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  /* width: 40%; */
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, rgba(0, 128, 0, 0.4) 0%, rgba(2, 2, 3, 0.7) 74%);
  box-shadow: 4px 13px 30px 1px rgba(0, 128, 0, 0.1);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(179deg, rgba(0, 128, 0, 0) -19%, green 74%);
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider__img {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  width: 60%;
  padding-right: 25px;
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, green 0%, #004d00 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px green;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #00b300;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

.localisation {
  padding: 2rem;
  margin-bottom: 4rem;
}
.localisation_img {
  width: 100%;
}
.localisation_title {
  margin: 3rem 0;
}
.localisation_content {
  display: flex;
}
.localisation_desc {
  flex: 1;
  padding: 5rem 3rem;
  background-image: url("./../images/contact1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.localisation_desc-btn {
  background: #efefef;
  margin: 2rem 0;
}
.localisation_desc-content {
  background: #023430b2;
  padding: 3rem 1rem;
  border-radius: 30px;
  width: 55%;
  color: #efefef;
}
.localisation_iframe {
  flex: 1;
  border-radius: 1rem;
  height: auto;
  background: #023430;
}

#map {
  height: 100%;
}

.menu {
  background: white;
  padding: 0.3rem;
  display: flex;
  height: 3.5rem;
  width: 13rem;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  border-radius: 15px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
}
.menu_img {
  width: 100%;
  height: 100%;
}
.menu_logo {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_close {
  top: -30px;
}
.menu_textContent {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 4rem;
  position: relative;
}
.menu_text {
  position: absolute;
}
.menu_icon {
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  flex: 1;
  position: relative;
}
.menu_icon-line {
  height: 0.3rem;
  width: 2rem;
  border-radius: 3px;
  margin: 0.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu_icon-top {
  background: #000;
  top: 0.5rem;
}
.menu_icon-bottom {
  background: #000;
  top: 1.3rem;
}

.contact {
  padding: 5rem 8rem;
}
.contact_title {
  margin-bottom: 2rem;
}
.contact_content {
  background: white;
  padding: 2rem;
  display: flex;
  box-shadow: -1px 1px 7px 0px #00000021;
  border-radius: 15px;
}
.contact_desc {
  background-image: url("./../images/contact.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  flex-basis: 60%;
  padding: 5rem 3rem;
  text-align: center;
  z-index: 1;
}
.contact_desc-content {
  background: #023430a4;
  padding: 1rem;
  color: #efefef;
  border-radius: 8px;
  width: 60%;
  float: right;
  backdrop-filter: blur(3px);
}
.contact_form {
  background: #023430;
  border-radius: 8px;
  padding: 3rem 2rem;
  flex: 1;
}
.contact_form-btn {
  background: white;
  color: #111827;
}

.footer {
  background-image: url("./../images/footer.png");
  background-size: cover;
  background-position: top;
  margin-top: 1vw;
}
.footer_content {
  color: #efefef;
  padding: 10rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.footer_title {
  font-size: 3rem;
  letter-spacing: 0.1px;
}
.footer_title a {
  color: #efefef;
}
.footer_link {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}
.footer_link-lien {
  color: #111827;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.footer_link-lien:hover {
  color: #efefef;
  text-decoration: underline;
}
.footer_link h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #000;
}
.footer_copy {
  color: #111827;
  margin: 0;
  font-weight: 300;
  font-style: italic;
  padding: 1rem;
  background: url(./../images/bgEvent.png) center/cover;
}
.footer_link {
  margin: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payement-form {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.payement-form .bk-payement {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  filter: blur(2px);
}
.payement-form .cartes {
  width: 500px;
  height: 480px;
  perspective: 1500px;
}
.payement-form .cartes #chk {
  display: none;
}
.payement-form .cartes #chk:checked ~ .content {
  animation: 2s animated;
  transform: rotateY(180deg);
}
@keyframes animated {
  0% {
    transform: translateZ(0px);
  }
  50% {
    transform: translateZ(100px);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.payement-form .cartes .content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 1s cubic-bezier(0.74, 0, 0.85, 1);
  border-radius: 8px;
}
.payement-form .cartes .content .front, .payement-form .cartes .content .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dddbdb;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 1500px;
  border-radius: 8px;
}
.payement-form .cartes .content .front .inner, .payement-form .cartes .content .back .inner {
  height: 100%;
  margin: 3em;
  transform: translateZ(80px) scale(1);
}
.payement-form .cartes .content .front .inner .check_Paiement, .payement-form .cartes .content .back .inner .check_Paiement {
  margin-right: 15px;
}
.payement-form .cartes .content .front .inner h1, .payement-form .cartes .content .back .inner h1 {
  font-size: 28px;
  margin: 2px;
  text-align: center;
}
.payement-form .cartes .content .front .inner .input_payement, .payement-form .cartes .content .back .inner .input_payement {
  width: 95%;
  padding: 10px 5px;
  margin: 2px 8px 5px 8Px;
  box-sizing: border-box;
  color: #000;
  background: #e7e7e7;
  border: none;
  outline: none;
  border-radius: 4px;
}
.payement-form .cartes .content .front .inner .Etape, .payement-form .cartes .content .back .inner .Etape {
  padding: 5Px 10px;
  background: #4bc594;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
}
.payement-form .cartes .content .front .inner .information, .payement-form .cartes .content .back .inner .information {
  margin-left: 8px;
}
.payement-form .cartes .content .front .inner .input-payer, .payement-form .cartes .content .back .inner .input-payer {
  padding: 5px 10px;
  cursor: pointer;
  background: #4bc594;
}
.payement-form .cartes .content .back {
  transform: rotateY(180deg);
}

@keyframes scaling {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }
  50% {
    transform: translateY(0rem);
    opacity: 0.9;
    background: #111827;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateX(-50%);
  }
}
@keyframes bgRandome {
  0%, 35% {
    background: rgba(0, 77, 0, 0.7) url(./../images/hopes.jpg) center/contain;
    background-blend-mode: multiply;
  }
  50%, 75% {
    background: rgba(0, 77, 0, 0.7) url(./../images/dev.jpg) center/contain;
    background-blend-mode: multiply;
  }
  90%, 100% {
    background: rgba(0, 77, 0, 0.7) url(./../images/graphic.jpg) center/100%;
    background-blend-mode: multiply;
  }
}
@keyframes loadingFormat {
  0% {
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 5vw;
    width: 1vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  10% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 5vw;
    width: 1vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  10% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 6vw;
    width: 1vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  20% {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 7vw;
    width: 1vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  35% {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  50% {
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 5vw;
    width: 2vw;
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  70% {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    filter: blur(5px);
    transform: translateX(-50%);
    opacity: 0.5;
    background: #efefef;
    color: #efefef;
  }
  80% {
    top: 45%;
    left: 50%;
    border-radius: 45%;
    height: 5vw;
    width: 3vw;
    transform: translateX(-50%);
    filter: blur(5px);
    background: #efefef;
    color: #efefef;
  }
  100% {
    top: 0%;
    left: 0;
    background: #efefef;
    color: #efefef;
  }
}
@keyframes floating {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes starInfinite {
  0% {
    transform: scale(1);
    background: #00b300;
    box-shadow: 0 0 20px #80ff80;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes navLog {
  0% {
    opacity: 0;
    transform: translate(8rem, 1rem);
  }
  100% {
    transform: translate(0rem, 1rem);
    opacity: 1;
  }
}
@keyframes leftLinks {
  0% {
    opacity: 0;
    transform: translate(-8rem, 1rem);
  }
  100% {
    transform: translateX(0rem, 1rem);
    opacity: 1;
  }
}
@keyframes global {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 120%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 140%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 768px) {
  .globContent {
    display: none;
  }

  .loading--formation {
    width: 95%;
  }

  .disableMenu {
    visibility: hidden;
    opacity: 0;
  }

  .menu {
    z-index: 200;
  }

  .start {
    background: #232222;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  .start_text {
    color: white;
  }

  .header_content {
    width: initial;
  }
  .header_content-title {
    font-size: 2rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: start;
    align-items: start;
    height: 100vh;
  }
  .nav_logo {
    display: none;
  }
  .nav_content {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
  }
  .nav_content span a svg {
    font-size: 1.5rem;
  }
  .nav_links {
    flex-direction: column;
    align-items: start;
    margin-top: 5rem;
  }
  .nav_item {
    margin: 0.4rem 0;
  }
  .nav_link {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
  }
  .nav_log {
    transform: translateY(1rem);
    margin-left: 2rem;
  }
  .nav_log-link {
    background: #000;
    color: white;
    font-size: 2rem;
  }

  .menu_icon-top {
    transform: translateZ(15deg);
    transform-origin: top left;
  }

  .menu {
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 2rem;
  }

  .close {
    position: absolute;
    left: 46%;
    visibility: hidden;
    opacity: 0;
  }
  .close_i {
    font-size: 2rem;
  }

  .close-active {
    visibility: visible;
    opacity: 1;
  }

  .close-burger {
    visibility: hidden;
    opacity: 0;
  }

  .extrait {
    height: 200vw;
    background-size: cover;
  }

  .card {
    width: 140%;
  }
  .card-img {
    width: 100%;
    height: 100%;
  }

  .localisation_content {
    flex-direction: column;
  }
  .localisation_desc {
    text-align: center;
  }
  .localisation_desc-content {
    width: 100%;
  }

  .contact {
    padding: 0;
  }

  .conexion {
    position: fixed;
    z-index: 400;
  }
  .conexion_content {
    flex-basis: 100%;
  }
  .conexion_desc {
    display: none;
  }

  .github {
    font-size: 6rem;
  }

  .about--content {
    flex-direction: column;
    background: #efefef;
  }

  .formations-extraits .displayed {
    height: 26vw;
    width: 26vw;
  }

  .formateur--item .img-avatar {
    left: 2vw;
    width: 25vw;
    height: 25vw;
  }

  .about--block h1 {
    font-size: 3.5vw;
  }
  .about--block:nth-child(1) {
    height: 14vw;
    width: 14vw;
    top: 1%;
    left: 40.5%;
    background: rgba(0, 128, 0, 0.3);
  }
  .about--block:nth-child(1) h1 {
    font-size: 4vw;
    top: 21%;
    left: 56%;
  }
  .about--block:nth-child(2) {
    left: 33%;
    height: 28vw;
    width: 28vw;
    top: 1%;
    left: 33.5%;
  }
  .about--block:nth-child(3) {
    left: 25%;
    height: 39vw;
    width: 39vw;
    bottom: 0%;
    left: 28%;
  }

  .anim-menu {
    background-image: url("./../images/menus.png");
    background-size: cover;
    background-position: top;
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.6s;
  }

  .active-anim--menu {
    bottom: 0;
    z-index: 50;
  }

  .active-navContent {
    display: none;
  }

  .anim-menu2 {
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.6s;
  }

  .active-anim--menu2 {
    bottom: 0;
    z-index: 4;
    transition: all 1s ease-in-out 0.5s;
  }

  .anim-links {
    animation: leftLinks 0.5s ease-in-out backwards;
    animation-delay: 0.3s;
  }

  .nav_log--active {
    animation: navLog 1s ease-in-out backwards;
    animation-delay: 0.6s;
  }

  .testimonials {
    margin: 19vw 0;
  }
  .testimonials--content-items {
    position: relative;
    margin: 5vw 0;
  }
  .testimonials--content-items figure {
    height: 11vw;
    width: 11vw;
  }
  .testimonials--content-items figure svg {
    top: 0;
    left: 0;
  }
  .testimonials--content-items_figure {
    width: 50%;
    left: 28%;
    border-radius: 1rem;
    transform: translateX(-50%);
    border: none;
    box-shadow: 0 0 20px rgba(17, 24, 39, 0.5);
  }
  .testimonials--content-item {
    position: absolute;
    padding: 15rem 2vw 2vw 2vw;
    font-size: 2vw;
  }

  .extrait {
    position: relative;
    height: 500px;
  }
  .extrait .container-extrait {
    margin-top: 30px;
  }
  .extrait .container-extrait .slide-extrait .item-extrait {
    width: 150px;
    height: 250px;
  }
  .extrait .container-extrait .content {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 300px;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    display: none;
  }
}
@media (max-width: 576px) {
  .btn-prim {
    padding: 2vw;
    font-size: 2.5vw;
    color: #efefef;
    background: #023430;
  }

  .section_para {
    font-size: 2.5vw;
  }

  .about--content {
    flex-direction: column;
    background: #efefef;
  }

  .about--descri {
    padding: 20vw 0vw;
  }

  .about--block:nth-child(1) {
    height: 16vw;
    width: 16vw;
    left: 40%;
    opacity: 1;
    color: #efefef;
    background: #111827;
  }
  .about--block:nth-child(1) h1 {
    font-size: 4vw;
    top: -7%;
  }
  .about--block:nth-child(2) {
    left: 33%;
    height: 30vw;
    width: 30vw;
  }
  .about--block:nth-child(3) {
    top: 10%;
    left: 25%;
    height: 45vw;
    width: 45vw;
  }

  .formateur-head {
    font-size: 5vw;
  }

  .formations-extraits {
    justify-content: center;
    flex-direction: column;
  }
  .formations-extraits .displayed {
    transform: none;
    width: 85%;
    height: 85%;
    margin: 4vw auto;
    box-shadow: 13px 1px 0px -3px rgba(0, 128, 0, 0.27), 24px 2px 0px -7px rgba(0, 128, 0, 0.21), 33px 2px 0px -11px rgba(0, 128, 0, 0.07);
  }
  .formations-extraits .displayed img {
    filter: grayscale(1);
  }
  .formations-extraits_head-title {
    transform: rotate(-15deg);
    top: 10%;
    backdrop-filter: none;
    z-index: 4;
    bottom: 0;
    left: 29.5%;
    font-size: 3vw;
    font-weight: bold;
    color: #efefef;
    text-shadow: 0 0 4px #111827;
    background: rgba(0, 128, 0, 0.35) url(./../images/bgTest2.png) center/cover no-repeat;
    background-blend-mode: multiply;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formations-extraits_head-prog {
    background: #006900;
    display: block;
    backdrop-filter: blur(10px) !important;
    font-family: "Times New Roman", Times, serif;
    color: #efefef;
    font-weight: bold;
    text-align: start;
    padding: 1vw 1vw 1vw 8vw;
  }
  .formations-extraits_head-prog ul {
    margin: 0;
    padding: 0;
  }

  .evenement--content {
    width: 85%;
    height: 40vw;
  }
  .evenement--content figure {
    flex: 1;
  }
  .evenement--content-descri {
    flex: 1;
  }
  .evenement--content-descri p {
    font-size: 2.5vw;
  }

  .header_content-titre {
    font-size: 15vw;
  }
  .header_content-sub {
    font-size: 8vw;
  }

  .contact_desc-content {
    width: 100%;
  }
  .contact_content {
    flex-direction: column;
  }
  .contact_form {
    margin-top: 4rem;
  }

  .conexion_social {
    padding: 1rem 6.5rem;
  }

  .extrait {
    position: relative;
    height: 400px;
  }
  .extrait .container-extrait {
    margin-top: 60px;
    height: 300px;
  }
  .extrait .container-extrait .slide-extrait .item-extrait {
    width: 150px;
    height: 250px;
  }
  .extrait .container-extrait .content {
    position: absolute;
    top: 15%;
    left: 20px;
    width: 300px;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    display: none;
  }
}
@media (min-width: 1400px) {
  .payement-form .cartes {
    width: 700px;
    height: 500px;
  }
  .payement-form .cartes .front .inner, .payement-form .cartes .back .inner {
    margin: 0 1em;
  }
}
@media (max-width: 550px) {
  .payement-form .cartes {
    width: 400px;
    height: 480px;
  }
}
@media (max-width: 460px) {
  .payement-form .cartes {
    width: 340px;
    height: 450px;
  }
}
@media (max-width: 400px) {
  .payement-form .cartes {
    width: 300px;
    height: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
