
.content_social {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    // width: 80px;
    // height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    // background: red;
    z-index: 50;
}

.content_social .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(363deg);
}

.nav-content .toggle-btn,
.nav-content span a {
    height: 45px;
    width: 45px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-content .toggle-btn {
    font-size: 1.2rem;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-183deg);
    transition: all 0.6s ease;
}

.content_social.open .toggle-btn {
    transform: rotate(42deg);
}

.nav-content span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

.content_social.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(90px);
    opacity: 1;
}

.nav-content span a {
    text-decoration: none;
    transform: rotate(45deg);
    // background: red;
    color: $color-prim;
}

.nav-content span a svg {
    font-size: 1.5vw;
    color: #0e2431;
    // transform: rotate(calc(var(--i) * (360deg/ -8)));
    opacity: 0.8;
    transition: 0.2s;
    
}

.nav-content span a:hover svg {
    opacity: 1;
    color: $color-prim;
}

#facebook {
    transform: rotate(267deg)!important;
}

.lind {
    transform: rotate(-135deg)!important;
}

.github {
    transform: rotate(-185deg)!important;
}