// $color-prim:#68a32e;
$color-prim:green;
$color-second: #023430;
$color-third:#6E3B3B;
$color-four:#F3CF7A;
$color-white: #efefef;
// $color-dark:#202020;
$color-dark:rgb(17 24 39);;

//prop
// $fs:font-size;
// $ff:font-family;
// $fw:font-weight;
// $bg:background;
// $cl:color;
// $dp:display;
// $tf:transform;
// $an:animation;
// $w:width;
// $h:height;
// $pa:padding;
// $ma:margin;
// $br:border-radius;
// $bs:box-shadow;
// $cp:clip-path;

//value
$size:100;
$breakpoint_sm:576;
$breakpoint_md:768;
$breakpoint_lg:992;
$breakpoint_l:1200;
$breakpoint_xl:1400;
$breakpoint_xxl:1920;
