.testimonials{
    margin: 0 0 5vw 0;
    padding: 2vw 10vw;
  
   
    &-btn{
      background:radial-gradient(122.58% 110% at 51% 51%, $color-prim 2%, transparent 58%);
      box-shadow: 0 0 14px $color-prim;
      padding: 1.5vw;
      border-radius: 45%;
      height: 4vw;
      width: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
    
      &:hover{
        background:radial-gradient(122.58% 110% at 51% 51%, $color-prim 2%, transparent 58%);
       box-shadow: 0 0 14px $color-prim;
         transform: scale(1.1);
        transition: .3s all ease;
      }
      &::after{
        font-size: 2rem;
        font-weight: bold;
        color: $color-white;
      }
    }
  
    &-swiper{
      width: 100%;
      height: 100%;
    }
  
    &-swiper-slide{
      background:$color-white;
      border-radius: 1rem;
    }
  
    &-descri{
      position: relative;
      height: 12vw;
      
  
      figure{
        position: absolute;
        height: 5vw;
        width: 5vw;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        img{
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
  
  
    }
  
    &-author{
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      color: $color-dark;
      img{
        max-width: 100%;
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
        margin-bottom: 1vw;
        display: inline-block;
        z-index: 1;
        position: relative;
      }
      h5{
        opacity: 0.8;
        margin: 0;
        font-weight: 800;
      }
  
      span{
         font-weight: 400;
        text-transform: none;
        display: block;
      }
    }
  
    &-content{
      font-family: 'Raleway', Arial, sans-serif;
      position: relative;
      overflow: hidden;
      padding: 1vw;
      // min-width: 220px;
      // max-width: 310px;
      width: 100%;
      color: #333;
      text-align: left;
      box-shadow: none !important;
  
    blockquote{
      margin: 0;
      display: block;
      border-radius: 8px;
      position: relative;
      padding: 4rem;
      background: url(./../images/footer.png)cover/center;
      // padding:  5vw 5vw 6vw;
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 -2vw;
      line-height: 1.6em;
  
      &::before{
        font-family: 'FontAwesome';
        content: "\201C";
        position: absolute;
        font-size: 30px;
        opacity: 0.3;
        font-style: normal;
        top: 7px;
        left: 3px;
      }
      
      &::after{
        font-family: 'FontAwesome';
        position: absolute;
        font-size: 30px;
        opacity: 0.3;
        font-style: normal;
        content: "\201D";
        right: 20px;
        bottom: 35px;
      }
    }
  
    }
  
  }
  
  
  
  .swiper-pagination-bullet{
    background: $color-prim;
    width: 1rem;
    height: 1rem;
  }
  
  
  
  
  
  
  
  
  